
  <div class="container">
    <div class="column">
      <div class="row" *ngFor="let skill of skills.slice(0, 3)">
        <div class="item">
          <h3 >{{ skill.name }}</h3>
          <div class="progress-bar">
            <div class="progress" [ngStyle]="{width: skill.width}" [attr.data-progress]="skill.percentage"></div>
          </div>
          <p>{{ skill.displayedPercentage }}%</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="row" *ngFor="let skill of skills.slice(3, 6)">
        <div class="item">
          <h3>{{ skill.name }}</h3>
          <div class="progress-bar">
            <div class="progress" [ngStyle]="{width: skill.width}" [attr.data-progress]="skill.percentage"></div>
          </div>
          <p>{{ skill.displayedPercentage }}%</p>
        </div>
      </div>
    </div>
  </div>
  