<!-- <div class="bg-white p-2 shadow-md rounded-md max-w-sm w-full">
    <div class="text-center bg-pink-300 text-white rounded-t-md p-1">
        <h3 class="text-sm italic text-red-500">Enter your authorized account to receive password reset link</h3>
    </div>
    <div class="p-3">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Enter your Email" [(ngModel)]="email" name="email" required>
          </mat-form-field>
        </div>
        <button type="submit" class="w-full bg-pink-500 text-white py-2 px-4 rounded-md mt-4 hover:bg-pink-600">Reset</button>
      </form>
    </div>
  </div> -->
  <!-- <div class="p-4">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>New Password</mat-label>
          <input formControlName="newPassword" type="password" matInput placeholder="Enter your new password">
          <mat-error *ngIf="resetForm.get('newPassword')?.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="resetForm.get('newPassword')?.hasError('minlength')">Password must be at least 8 characters</mat-error>
          <mat-error *ngIf="resetForm.get('newPassword')?.hasError('passwordStrength')">Password must contain at least one uppercase letter, one lowercase letter, one numeric digit, and one special character</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Confirm Password</mat-label>
          <input formControlName="confirmPassword" type="password" matInput placeholder="Confirm your new password">
          <mat-error *ngIf="resetForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
        </mat-form-field>
      </div>
      <button type="submit" class="w-full bg-pink-500 text-white py-2 px-4 rounded-md mt-4">Reset</button>
    </form>
  </div>
   -->
   <div class="flex-center bg-gray-100 min-h-screen">
    <div class="bg-white p-4 shadow-md rounded-md max-w-sm w-full">
      <div class="text-center bg-green-300 text-white rounded-t-md p-2">
        <h3 class="text-sm italic text-green-700">Reset Password</h3>
      </div>
      <div class="p-3">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>New Password</mat-label>
              <input formControlName="newPassword" type="password" matInput placeholder="Enter your new password">
              <mat-error *ngIf="resetForm.get('newPassword')?.hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="resetForm.get('newPassword')?.hasError('minlength')">Password must be at least 8 characters</mat-error>
              <mat-error *ngIf="resetForm.get('newPassword')?.hasError('passwordStrength')">Password must contain at least one uppercase letter, one lowercase letter, one numeric digit, and one special character</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Confirm Password</mat-label>
              <input formControlName="confirmPassword" type="password" matInput placeholder="Confirm your new password">
              <mat-error *ngIf="resetForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
            </mat-form-field>
          </div>
          <button type="submit" class="w-full bg-green-500 text-white py-2 px-4 rounded-md mt-4 hover:bg-green-700">Reset</button>
        </form>
      </div>
    </div>
  </div>
  
  