:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  /* Customize the form styles */
  .mat-form-field {
    width: 100%;
  }
  
  /* Customize the buttons styles */
  button {
    width: 100%;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .sliding-text {
    animation: slide 10s linear infinite; /* Adjust the duration as needed */
  }