<!-- <mat-toolbar color="">
    <mat-toolbar-row fxLayout="row">
        <span>forgot password?</span>
        <span class="spacer"></span>
        <button class="mat-dailog-close" mat-icon-button mat-dailog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar> -->
<!-- forgot-password.component.html --><!-- forgot-password.component.html -->
<!-- <h2>Forgot Password</h2>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Enter your email" [(ngModel)]="email" name="email" required>
    </mat-form-field>
  </div>
  <button type="submit" class="w-full bg-pink-500 text-white py-2 px-4 rounded-md mt-4">Submit</button>
</form> -->
<!-- <div class=" bg-pink-300 min-h-screen flex-center"> -->
  <div class="bg-white p-2 shadow-md rounded-md max-w-sm w-full">
    <div class="text-center  bg-green-300 text-white rounded-t-md p-1">
        <h3 class="text-sm italic text-green-700">Enter your authorized account to receive password reset link</h3>
    </div>
    <div class="p-3">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Enter your Email" [(ngModel)]="email" name="email" required>
                </mat-form-field>
            </div>
            <button type="submit" class="w-full bg-green-500 text-white py-2 px-4 rounded-md mt-4 hover:bg-green-700">Reset</button>
        </form>
        <!-- <pre>{{ email | json }}</pre> -->
    </div>
</div>


      
      
  <!-- </div> -->
  