  
 <!--  -->
 <!--  -->
 <!-- <h3 class="mt-10">Detailed-Contents Of <strong>{{qTitle}}</strong></h3> -->

 <!-- <div class="text-center mb-4">
     <button mat-raised-button [routerLink]="'/admin/add-detailedcontent/' + conId + '/' + qTitle"
             class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
     >
       Add Detailed-content
     </button>
   </div> -->
 
   <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <ng-container *ngFor="let q of detailedcontents.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
      <!-- LOVE : ENDLESS PASSION ETERNAL CONNECTION Card -->
      <mat-card *ngIf="qTitle === 'LOVE : ENDLESS PASSION ETERNAL CONNECTION'"
                class=" w-full sm:w-1/2 lg:w-3/5  mb-8 sumi ">
        <mat-card-header>
          <mat-card-title>{{ q.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="h-64 p-1 w-full   ">
          <div class="h-64 w-full bg-cover bg-gray-300 sumi1  "
               style="background-image: url('{{ q.dc_imageUrl }}'); background-size: cover; background-position: center;">
               
           </div>
            
          </mat-card-content>
          <div class="flex items-center justify-between py-4 ">
            <!-- Audio button dc_audioPath-->
            <button
            mat-raised-button
            color="accent"
            (click)="playAudio(q.detailedConId)"
            class=" bg-pink-500 hover:bg-green-700 text-white font-bold bg-cover rounded-full "
          >
            Play Audio
          </button>

          <!-- Stop Audio button -->
           <button mat-raised-button
             color="accent"
            (click)="stopAudio(q.detailedConId)"
            class="bg-red-500 hover:bg-red-700 text-white font-bold bg-cover rounded-full ml-2 mr-2">
            Stop Audio
          </button>
        

            <!-- Delete button -->
            <!-- <button mat-icon-button (click)="deleteDetailedContent(q.detailedConId)">
              <mat-icon   color="accent">delete</mat-icon>
            </button> -->

            <!-- Update button -->
            <!-- <button mat-icon-button [routerLink]="'/admin/detailedcontent/' + q.detailedConId" >
              <mat-icon    color="accent" type="submit">update</mat-icon>
            </button> -->
          </div>
         
      </mat-card>

      <!-- PROJECTCRAFT : DIGITAL HUB Card  .button-container  -->
      <mat-card *ngIf="qTitle === 'PROJECTCRAFT : DIGITAL HUB'" class="custom-card">
        <mat-card-header>
          <mat-card-title>{{ q.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <!-- Middle part image -->
          <div class="image-container">
            <div class="h-64 bg-gray-300 mb-4 sumi2"
                 style="background-image: url('{{ q.dc_imageUrl }}');">
            </div>
          </div>
      
          <!-- Description container -->
          <div class="description-container">
            <!-- <div class="truncate-text" [innerHTML]="q.description"></div> -->
            <div [innerHTML]="sanitizeDescription(q.description)"></div>
          </div>
      
          <!-- Dark blue container below description -->
          <!-- <div class="dark-blue-container">
            <div>{{ q.dc_link }}</div>
          </div> -->
      
          <!-- Buttons container -->
          <div class="button-container">
            <!-- View Full Description -->
            <button [routerLink]="'/user-dashboard/user-view-full-description/'+ q.detailedConId" mat-raised-button color="accent">
              <mat-icon>poll</mat-icon>View
            </button>
            <button mat-raised-button color="accent" (click)="openLinkInNewWindow(q.dc_link)">
              <mat-icon>format_list_numbered</mat-icon> Link 
            </button>
          </div>
        </mat-card-content>
      </mat-card>
      

      <!-- BYTE-BEAUTE : SILICON SYMPHONY Card -->
      <mat-card *ngIf="qTitle === 'BYTE-BEAUTE : SILLICON SYMPHONY'" class="custom-card">
        <mat-card-header>
          <mat-card-title class="custom-title">{{ q.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <!-- Middle part image -->
          <div class="h-64 bg-gray-300 mb-4 sumi2" style="background-image: url('{{ q.dc_imageUrl }}'); background-size: cover; background-position: center;"></div>
      
          <!-- Lower section with description and buttons -->
           
            <!-- Description -->
            <!-- <div class="description-container"> -->
              <!-- <div class="truncate-text" [innerHTML]="q.description"  ></div> -->
               <!-- <div>{{ q.description ? (q.description.length > 25 ? q.description.substring(0, 25) + '......' : q.description) : '' }}
              </div>
             </div> -->
             <div class="description-container">
              <div [innerHTML]="sanitizeDescription(q.description)"></div>
            </div>

        </mat-card-content>
            <!-- Buttons in one row -->
            <div  class="button-container1">
              <!-- View Full Description -->
              <button [routerLink]="'/user-dashboard/user-view-full-description/' + q.detailedConId" mat-raised-button color="accent">
                <mat-icon>poll</mat-icon>View
              </button>
               
      
               
            </div>
           
         
      </mat-card>
    </ng-container>
      
  </div>

  
  <!-- Pagination and Add button container -->
  <div class="flex justify-between items-center mt-4 mx-4">

   <!-- "Add Detailed-content" button at bottom left corner -->
   <div class="text-left">
     <button mat-raised-button [routerLink]="'/user-dashboard/contents/'"
             class=" mat-accent    text-white font-bold py-2 px-4 mb-4 rounded-full">
        Back
     </button>
   </div>
  
 
     <!-- Pagination controls -->
   <div class="text-right">
     <button mat-raised-button (click)="prevPage()" [disabled]="currentPage === 1"
             class=" mat-accent  mat-primary text-white font-bold py-2 px-4 mb-4 rounded-full">
       Previous
     </button>
     <span class="mx-4">{{ currentPage }}</span>
     <button mat-raised-button (click)="nextPage()" [disabled]="(currentPage * itemsPerPage) >= detailedcontents.length"
             class=" mat-accent  mat-primary text-white font-bold py-2 px-4 mb-4 rounded-full">
       Next
     </button>
   </div>
 </div>
<!-- </div>
</div>
</div> -->

