<div class="min-h-screen flex-center bg-gray-100">
    <div class="bg-white p-8 shadow-md rounded-md max-w-md w-full">
      <div class="text-center bg-sliding-text">
        <div class="bg-pink-500 text-white p-4 rounded-md">
          <h1 class="text-3xl font-bold">Sum....Talks.......</h1>
        </div>
      </div>
  
      <div class="card-body text-center">
        <h1  class="text-blue-800" >Login</h1>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Email</mat-label>
              <input type="text" matInput placeholder="Enter your Email" [(ngModel)]="loginData.email" name="email">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Enter your password" [(ngModel)]="loginData.password" name="password">
            </mat-form-field>
          </div>
          <button 
  type="submit" 
  class="w-1/2 bg-pink-500 text-white py-2 px-4 rounded-md mt-4 
    transition-transform transform hover:scale-105
    hover:bg-pink-500 focus:outline-none focus:ring-2 focus:ring-pink-400"
>
  Login
</button>
          <!-- <a routerLink="/reset-password" class="forgot-password-link block text-red-500 mt-5">Forgot Password</a> -->
          <a (click)="openForgotPasswordDialog()" class="forgot-password-link block text-blue-500 mt-5"><b>Forgot Password</b></a>
       
        <!-- Signup link -->
        <div  class=" text-black p-4 mb-4 text-center">
          <span>Not have an account? Please</span>
          <a routerLink="/signup" class="text-blue-500 ml-2"><b>Signup</b></a>
        </div>
        </form>
      </div>
    </div>
    <!-- {{loginData | json}} -->
  </div>