<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-left">
        <div class="footer-links">
          <!-- <a href="#">Terms & Conditions</a>
          <a href="#">Privacy Policy</a> -->
          <a href="/login">Blog <i>Please login</i></a>
          <a href=""class="contact-link">Contact Us</a>
        </div>
      </div>
  
      <div class="footer-right">
        <div class="copyright" >
          <p>&copy; 2024 sumTalks. All rights reserved.</p>
        </div>
        <div class="social-icons">
          <a href="https://github.com/sumitavdash" target="_blank" class="github"></a>
          <a href="https://www.linkedin.com/in/sumitav-raj-profile69" target="_blank" class="linkedin"></a>
          <a href="mailto:devsumitav@gmail.com" target="_blank" class="gmail"></a>
          <a href="#" target="_blank" class="twitter"></a>
        </div>
      </div>
    </div>
  </footer>
  
