<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-left">
        <div class="footer-links">
          <a href="#">Terms & Conditions</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Contact Us</a>
          <a href="#">Blog <i>Please login</i></a>
        </div>
      </div>
  
      <div class="footer-right">
        <div class="copyright">
          <p>&copy; 2024 sumTalks. All rights reserved.</p>
        </div>
        <div class="social-icons">
          <a href="#" class="github"></a>
          <a href="#" class="linkedin"></a>
          <a href="#" class="gmail"></a>
          <a href="#" class="twitter"></a>
        </div>
      </div>
    </div>
  </footer>
  
