<div class="container">
  <div class="spiral-dots"></div>
  <div class="title" style="margin-top: 20px">
    <span>My portfolio</span>
  </div>

  <ng-particles
    [id]="'particles1'"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
  ></ng-particles>

  <div class="profile">
    <div class="profile-bg"></div>
    <img src="../assets/sumit1.png" alt="" />
  </div>

  <div class="name">
    <span>
      <span
        ><strong><i>Hi,</i></strong></span
      >
      I am </span
    ><br />
    <span class="animated-name typewriter">Sumitav Dash</span><br />
    <span>Software Developer</span>
  </div>

  <!-- Spiral Dots Container -->
  <!-- <div class="spiral-dots mt-30"></div> -->
  <!-- <div class="spiral-dots top-left"></div>
  <div class="spiral-dots bottom-right"></div> -->
</div>
